In [ ]:
# Student Name: Ali Mahmode Ali Elsayed 
# ID:300327244
# email: aelsh053@uottawa.ca

# three wayes for that task 

1- using url

2- using local_file

3- using the name from ntlk library

#import libraries

In [ ]:
import numpy as np
import pandas as pd
!pip install PyPDF2
import PyPDF2
import re 
import requests
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords,gutenberg
import random
nltk.download('gutenberg')

Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.7/dist-packages (1.27.12)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Unzipping corpora/gutenberg.zip.

True

#split_text_using url

In [ ]:
def split_text_using_url(url,label_book,no_split=200,num_word=100): 
  final_list_books=[]
  final_list_paragraph=[]
  final_list_label=[]
  for index in range(len(url)):

#read book and make it lower 
     book = requests.get(url[index])
     book.encoding='utf-8-sig' #to prevent the problem of ascii code
     data_book = book.text.lower()# because when remove stopworks not remove "The" or upper letter if found 
     data_book
  
#split the text into words 
     all_list=re.findall(r'\w+', data_book)
     #print(all_list)
  
#remove the special cases 
     clean_list1=[]
     for i in all_list:
        if re.match("[a-zA-Z]+",i):
          clean_list1.append(i)
     #print(len(all_list))
     #print(len(clean_list1))
     #print(clean_list1)

#remove stopwords
     stopwords = nltk.corpus.stopwords.words('english')
     clean_list2=[]
     for i in clean_list1:
        if i not in stopwords:
          clean_list2.append(i)
     #print(len(clean_list1))
     #print(len(clean_list2))
     #print(clean_list2)
  
#split data_text to 200 sample and each of it contain 100 words
     list=[]
     list_label=[]
     for i in range(200):
       random_num=random.randint(0,100)
       #list.append(clean_list2[i*100:i*100+100]) #that not random 
       list.append(clean_list2[random_num*100:random_num*100+100])#that random
       list_label.append(label_book[index])
     final_list_books=final_list_books+list  
     final_list_label=final_list_label+list_label
     #print(list)   
  
#prepare paragraph from list
     paragraph=" "
     paragraph_list=[]
     for x in list:
         paragraph=paragraph.join(x) 
         paragraph_list.append(paragraph)
         paragraph=" "
     final_list_paragraph =final_list_paragraph + paragraph_list 
#show lists with each label 
     df=pd.DataFrame({"part":final_list_books,"paragraph":final_list_paragraph,"book":final_list_label})
    #  df['paragraph']=paragraph_list
    #  df['part']=list
    #  df['book']=list_label
  return df

#call function

In [ ]:
df=split_text_using_url(["https://www.gutenberg.org/cache/epub/68061/pg68061.txt","https://www.gutenberg.org/cache/epub/68061/pg68061.txt"],['b','a'],200,100)
df

,part,paragraph,book
0,"[importance, country, mainly, due, dawl, thank...",importance country mainly due dawl thanks dawl...,b
1,"[days, giving, supper, parties, friends, nobod...",days giving supper parties friends nobody lud ...,b
2,"[cried, master, nathaniel, violently, endymion...",cried master nathaniel violently endymion leer...,b
3,"[agents, smuggled, town, eat, fairy, fruit, re...",agents smuggled town eat fairy fruit regarded ...,b
4,"[old, working, woman, unfeigned, interest, sho...",old working woman unfeigned interest showed co...,b
...,...,...,...
395,"[stamping, feet, banging, table, whereupon, ma...",stamping feet banging table whereupon master n...,a
396,"[old, working, woman, unfeigned, interest, sho...",old working woman unfeigned interest showed co...,a
397,"[beginning, little, anxious, ranulph, hempie, ...",beginning little anxious ranulph hempie shot s...,a
398,"[strings, rotted, damp, antiquity, crying, let...",strings rotted damp antiquity crying let see o...,a
399,"[attitude, exquisite, pleasure, would, say, pl...",attitude exquisite pleasure would say pleasant...,a

#split_text_using name

1- that will make error as files were local , but i wanted to make it generalized

In [ ]:
def split_text_using_name(name_books,label_book,no_split=200,num_word=100):
  final_list_books=[]
  final_list_paragraph=[]
  final_list_label=[]
  for index in range(len(name_books)):

  #read book and make it lower 
   
     with open(name_books[index]) as f: 
      lines = f.read()
      data_book=lines.lower()
     #print(lines.lower())     

  
   #split the text into words 
     all_list=re.findall(r'\w+', data_book)
   #print(all_list)
  
  #remove the special cases 
     clean_list1=[]
     for i in all_list:
        if re.match("[a-zA-Z]+",i):
          clean_list1.append(i)
     #print(len(all_list))
     #print(len(clean_list1))
     #print(clean_list1)

  #remove stopwords
     stopwords = nltk.corpus.stopwords.words('english')
     clean_list2=[]
     for i in clean_list1:
        if i not in stopwords:
          clean_list2.append(i)
     #print(len(clean_list1))
     #print(len(clean_list2))
     #print(clean_list2)
  
  #split data_text to 200 sample and each of it contain 100 words
     list=[]
     list_label=[]
     for i in range(200):
       list.append(clean_list2[i*100:i*100+100])
       list_label.append(label_book[index])
     final_list_books=final_list_books+list  
     final_list_label=final_list_label+list_label
  #print(list)   
#prepare paragraph from list
     paragraph=" "
     paragraph_list=[]
     for x in list:
         paragraph=paragraph.join(x) 
         paragraph_list.append(paragraph)
         paragraph=" "
     final_list_paragraph =final_list_paragraph + paragraph_list 
#show lists with each label 
     df=pd.DataFrame({"part":final_list_books,"paragraph":final_list_paragraph,"book":final_list_label})
    #  df['paragraph']=paragraph_list
    #  df['part']=list
    #  df['book']=list_label
  return df

#call function

In [ ]:
df=split_text_using_name(['one.txt','four.txt'],['a','b'],no_split=200,num_word=100)
df

#split_text_using ntlk

In [ ]:
def split_text_using_ntlk(name_books,label_book,no_split=200,num_word=100):
  final_list_books=[]
  final_list_paragraph=[]
  final_list_label=[]
  for index in range(len(name_books)):

  #read book and make it lower 
     books=nltk.corpus.gutenberg.fileids()
     all_list = nltk.corpus.gutenberg.words(name_books)
  
  #remove the special cases 
     clean_list1=[]
     for i in all_list:
        if re.match("[a-zA-Z]+",i):
          clean_list1.append(i)
     #print(len(all_list))
     #print(len(clean_list1))
     #print(clean_list1)

  #remove stopwords
     stopwords = nltk.corpus.stopwords.words('english')
     clean_list2=[]
     for i in clean_list1:
        if i not in stopwords:
          clean_list2.append(i)
     #print(len(clean_list1))
     #print(len(clean_list2))
     #print(clean_list2)
  
  #split data_text to 200 sample and each of it contain 100 words
     list=[]
     list_label=[]
     for i in range(200):
       list.append(clean_list2[i*100:i*100+100])
       list_label.append(label_book[index])
     final_list_books=final_list_books+list  
     final_list_label=final_list_label+list_label
  #print(list)   
#prepare paragraph from list
     paragraph=" "
     paragraph_list=[]
     for x in list:
         paragraph=paragraph.join(x) 
         paragraph_list.append(paragraph)
         paragraph=" "
     final_list_paragraph =final_list_paragraph + paragraph_list 
#show lists with each label 
     df=pd.DataFrame({"part":final_list_books,"paragraph":final_list_paragraph,"book":final_list_label})
    #  df['paragraph']=paragraph_list
    #  df['part']=list
    #  df['book']=list_label
  return df

#call function

In [ ]:
df=split_text_using_ntlk(['austen-emma.txt', 'austen-persuasion.txt'],['a','b'],no_split=200,num_word=100)
df

,part,paragraph,book
0,"[Emma, Jane, Austen, VOLUME, I, CHAPTER, I, Em...",Emma Jane Austen VOLUME I CHAPTER I Emma Woodh...,a
1,"[friend, friend, mutually, attached, Emma, lik...",friend friend mutually attached Emma liked hig...,a
2,"[unexceptionable, character, easy, fortune, su...",unexceptionable character easy fortune suitabl...,a
3,"[arose, affection, could, never, find, fault, ...",arose affection could never find fault How bea...,a
4,"[evening, must, struggled, Hartfield, Christma...",evening must struggled Hartfield Christmas bro...,a
...,...,...,...
395,"[I, say, quite, complete, I, believe, hear, te...",I say quite complete I believe hear telling ot...,b
396,"[room, There, secrets, families, know, The, ca...",room There secrets families know The case part...,b
397,"[life, She, odd, woman, But, I, never, allow, ...",life She odd woman But I never allow speak ill...,b
398,"[Mr, Weston, I, dare, say, telling, exactly, m...",Mr Weston I dare say telling exactly matter st...,b
399,"[To, constantly, living, ill, tempered, person...",To constantly living ill tempered person must ...,b